<h1 class="text-4xl font-thin">檢視購物車</h1>
<%= link_to "清空購物車", cart_path, method: "delete" %>

<%= render "shared/cart" %>

<%= link_to "回賣場繼續選購", root_path %>
<%= link_to "結帳", checkout_orders_path %>
